@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul { list-style: none; }
a { text-decoration: none; }
button { cursor: pointer; border: none; background: none; }

img {
  max-width: 100%;
  display: block;
  border-radius: var(--border-radius-s);
}

:root {
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #252525;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;
  --site-max-width: 1300px;
}

html {
  scroll-behavior: smooth;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}

.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
  background: var(--secondary-color);
}
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semi-bold);
}

.navbar .nav-menu {
  display: flex;
  gap: 25px;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--white-color);
  background: none;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}
.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--white-color);
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: 'Miniver', sans-serif;
}

.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semi-bold);
}

.hero-section .hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}

.hero-section .hero-details .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  background: var(--secondary-color);
  border-radius: var(--border-radius-m);
  color: var(--primary-color);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
  margin-top: 50px;
  text-decoration: none;
}

.hero-section .hero-details .button:hover {
  background: transparent;
  color: var(--white-color);
  border-color: var(--white-color);
}

.hero-section .hero-details .contact-us:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

.hero-section .hero-image-wrapper {
  max-width: 1000px;  
  margin-right: 30px;
  flex-shrink: 0;    
}

.hero-section .hero-image-wrapper img {
  width: 100%;      
  height: auto;
  display: block;
}
